node_modules
.next
.turbo
dist
build
coverage
generated
storybook-static
.react-email
packages/design-system/components/ui
packages/design-system/lib
packages/design-system/hooks
packages/database/generated
pnpm-lock.yaml
